@model HomePageProductsModel
@using Nop.Web.Framework.UI;
@using Nop.Web.Models.Catalog;

@if (HttpContext.Current.IsDebuggingEnabled)
{ 
    <span>Path</span> @this.VirtualPath
}
 <div class="home-page-product-grid">
    
        <h1>   @T("HomePage.Products")</h1>

        @(Html.DataList<ProductModel>(Model.Products, 5,
            @<div class="item-box">
                <div class="item">
                    <div class="product-title">
                        <a href="@Url.RouteUrl("Product", new { productId = item.Id, SeName = item.SeName })" title="@item.DefaultPictureModel.Title">
                         @HtmlHelpers.Capitalise(@item.Name)</a>
                    </div>
                    <div class="picture">
                        <a href="@Url.RouteUrl("Product", new { productId = item.Id, SeName = item.SeName })" title="@item.DefaultPictureModel.Title">
                            <img style="border-width: 0px;" alt="@item.DefaultPictureModel.AlternateText" src="@item.DefaultPictureModel.ImageUrl"
                                        title="@item.DefaultPictureModel.Title" /></a>
                    </div>
                </div>
            </div>
            ))
    </div>